@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  font-family: sans-serif;
}

.location--wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
}

.skills-wrapper {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
